.container{
    margin-top: 30%;
    margin-bottom: 30%;
}
body {
    background-color: #ffffff;
    
}
img {
  margin-top: 100px;
  height: 400px;
  width: 400px;
}
#box {
  background-color: #ffefe7;
}
.container{
  margin-top: 200px;
  margin-bottom: 50px;
}