.container{
    margin:10%;
}
.row {
    margin:20%;
}
body {
    background-color: #5C8984;
}
.card-img-top {
width: 100%;
height: 15vw;
object-fit: cover;
}
#home {
  margin-left: 100px;
  margin-right: 0px;
}
.card{
  border-radius: 20px;
  overflow: hidden;
  background-color: #6096B4;
  color: whitesmoke;
}
#goto{
  margin-left: 100px;
}
.custom-bg {
  background-color: #B5D5C5; /* Replace with your desired color */
}
.navbar{
  margin-bottom: 50px;
}