.container{
    margin:10%
}
.row {
    margin:20%;
}
body {
    background-color: #539165;
}
.card-img-top {
width: 100%;
height: 15vw;
object-fit: cover;
}
.card{
  border-radius: 20px;
  overflow: hidden;
  background-color: #116D6E;
  color: whitesmoke;
}
.row {
  margin-top: 0px;
}
#home {
  margin-left: 100px;
  margin-right: 0px;
}

#goto{
  margin-left: 100px;
}
.custom-bg {
  background-color: #B5D5C5;
}
.navbar{
  margin-bottom: 50px;
}